@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ProjectClinic.Models.Appointment>

<br />
<br />
<img src="~/Images/Arrow.jpg" align="left" height="30" width="30" />

@using (Html.BeginForm("AddAppointment", "Home", FormMethod.Post))
{
    <input type="submit" value="Go Back" action="AddAppointment" style="background-color:grey" />
}
<br />


@using (Html.BeginForm("CancelAppointment", "Home", FormMethod.Post))
{

    <style>
        body {
            background-image: url("/images/InfoBG.jpg");
        }
    </style>


    <table class="table">
        <thead>



            <tr>

                <th>@Html.DisplayName("PatientID")</th>
                <th>@Html.DisplayName("Specialisations")</th>
                <th>@Html.DisplayName("DoctorName")</th>
                <th>@Html.DisplayName("VisitDate")</th>
                <th>@Html.DisplayName("AppointmentTime")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelitem => item.PatientId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Specialisation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Doctor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Visit_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Appointment_Time)
                    </td>

                </tr>
            }

        </tbody>
    </table>
}